<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Weather app built with Node.js Express api with mapbox and darksky api for weather foresting</p>
    </div>
    
    {{>footer}}
</body>

</html>